<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weather Forecast App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
</head>
<body ng-cloak>
  <div ng-controller="appController">

    <!-- Search bar -->
    <div class="search">
        <div class="search-container">
            <input type="text" 
                   placeholder="Search city" 
                   ng-model="searchText" 
                   ng-change="searchCities()"
                   ng-keydown="handleKeyDown($event)"/>
            <!-- Add suggestions dropdown -->
            <div class="search-suggestions" ng-show="suggestions.length > 0">
                <div class="suggestion-item" 
                     ng-repeat="suggestion in suggestions"
                     ng-click="selectCity(suggestion)"
                     ng-class="{'selected': $index === selectedIndex}">
                    {{suggestion.name}}, {{suggestion.country}}
                </div>
            </div>
        </div>
    </div>

    <!-- Displaying weather data -->
    <div class="card" ng-if="weatherData" ng-class="{ 'expanded' : cardIsExpanded }">
      <div class="general-data" ng-if="weatherData && weatherData.current_weather && weatherData.daily">
        <div class="general-upper-data">
          <div class="location">{{ city }}, {{ countryCode }} </div>
          <div class="temperature">{{ weatherData.current_weather.temperature }}°</div>
          <div class="weather-icon">
            <img ng-src="components/weather-icons/{{getWeatherIconName(weatherData.current_weather.weathercode)}}.svg" 
                 alt="Weather condition"
                 class="current-weather-icon">
          </div>
          <div class="weather-type">H: {{ weatherData.daily.temperature_2m_max[0] | number:0  }}° L: {{ weatherData.daily.temperature_2m_min[0] | number:0  }}°</div>
        </div>
        <div class="general-lower-data">
          <div class="info-container">
            <div class="info-block-container">
              <div class="info-block">
                <div class="info-block-label">Percipitation</div>
                <div class="info-block-value">{{ weatherData.daily.precipitation_sum[0] }} mm</div>
              </div>
            </div>
            <div class="info-block-container">
              <div class="info-block">
                <div class="info-block-label">Chance of rain</div>
                <div class="info-block-value">{{ weatherData.daily.precipitation_probability_max[0] }}%</div>
              </div>
            </div>
            <div class="info-block-container">
              <div class="info-block">
                <div class="info-block-label">Wind</div>
                <div class="info-block-value">{{ weatherData.current_weather.windspeed }} km/h</div>
              </div>
            </div>
            <div class="info-block-container">
              <div class="info-block">
                <div class="info-block-label">UV Index</div>
                <div class="info-block-value">{{ weatherData.daily.uv_index_max[0] }}</div>
              </div>
            </div>
          </div>
        </div>
        <button class="details-button" ng-click="expandCard()" ng-model="buttonText">{{ buttonText }}</button>
      </div>
      <div class="details-data" ng-show="showDetails" ng-if="weatherData && weatherData.hourly && weatherData.daily">
        <div class="forecast-section">
          <div class="detials-data-label">24-hour forecast</div>
          <div class="chart-container">
            <canvas id="hourlyChart"></canvas>
          </div>
        </div>

        <div class="forecast-section">
        <div class="detials-data-label">7-day forecast</div>
          <div class="daily-forecast">
              <div class="daily-row" ng-repeat="day in weatherData.daily.time">
                  <div class="daily-day">{{$index === 0 ? 'Today' : (day | date:'EEE')}}</div>
                  <div class="daily-icon">
                      <img ng-src="components/weather-icons/{{getWeatherIconName(weatherData.daily.weather_code[$index])}}.svg" 
                           alt="Weather condition"
                           class="daily-weather-icon">
                  </div>
                  <div class="daily-temp">
                      <span class="daily-low">{{weatherData.daily.temperature_2m_min[$index] | number:0 }}°</span>
                      <div class="temp-range">
                          <div class="temp-bar" 
                               ng-style="{
                                   'left': ((weatherData.daily.temperature_2m_min[$index] - getMinTemp()) / (getMaxTemp() - getMinTemp()) * 100) + '%',
                                   'width': ((weatherData.daily.temperature_2m_max[$index] - weatherData.daily.temperature_2m_min[$index]) / (getMaxTemp() - getMinTemp()) * 100) + '%'
                               }">
                          </div>
                      </div>
                      <span class="daily-high">{{ weatherData.daily.temperature_2m_max[$index] | number:0 }}°</span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!--
  <div>AngularJS seed app: v<span app-version></span></div>
  -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  
  <!-- Services, controllers and filters (created and added by me)-->
  <script src="services/weather-service.js"></script>
  <script src="controllers/app-controller.js"></script>
  <script src="filters/weathercode-filter.js"></script>
</body>
</html>
